* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/details.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/images/cd2h_honeycomb.png -text
WebContent/images/cd2h_invent.png -text
WebContent/images/ctsa-g-logo.jpg -text
WebContent/images/idtf_map.png -text
WebContent/images/labs-logo.png -text
WebContent/images/labslogo2.png -text
WebContent/images/logo_sprite.png -text
WebContent/images/masthead-divider.png -text
WebContent/images/masthead-hhs-logo.png -text
WebContent/images/masthead-nih-logo.png -text
WebContent/images/onlinelogomaker-111617-1142-7717.png -text
WebContent/images/person_icon.png -text
WebContent/images/tile_background4.png -text
WebContent/index.jsp -text
WebContent/local_nav.jsp -text
WebContent/resources/cd2h -text
WebContent/resources/css -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/jdbc_environment.jsp -text
WebContent/resources/layout(old).css -text
WebContent/resources/layout.css -text
WebContent/resources/slick.min.css -text
WebContent/resources/style.css -text
WebContent/resources/styles.css -text
WebContent/source.jsp -text
/pom.xml -text
